@model RavenDBMembership.Web.Models.ChangePasswordQuestionAndAnswerModel

@{
    ViewBag.Title = "Change Password Question and Answer";
}

<!DOCTYPE html>

<html>
<head>
    <title>ChangePasswordQuestionAndAnswer</title>
</head>
<body>    
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>ChangePasswordQuestionAndAnswerModel</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PasswordQuestion)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PasswordQuestion)
                @Html.ValidationMessageFor(model => model.PasswordQuestion)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PasswordQuestionAnswer)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PasswordQuestionAnswer)
                @Html.ValidationMessageFor(model => model.PasswordQuestionAnswer)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmAnswer)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmAnswer)
                @Html.ValidationMessageFor(model => model.ConfirmAnswer)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
