@model RavenDBMembership.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register User";    
}

<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
</head>
<body>
        
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>RegisterModel</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PasswordQuestion)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PasswordQuestion)
                @Html.ValidationMessageFor(model => model.PasswordQuestion)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PasswordQuestionAnswer)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PasswordQuestionAnswer)
                @Html.ValidationMessageFor(model => model.PasswordQuestionAnswer)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPasswordQuestionAnswer)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPasswordQuestionAnswer)
                @Html.ValidationMessageFor(model => model.ConfirmPasswordQuestionAnswer)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
